<!DOCTYPE html>
{% load static %}
{% load user_filters %}
<head>
    <meta http-equiv="refresh" content="360">
	<meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div id="container">
        <form action="{% url 'main:index' %}" method="get">
        </form>
    {% include 'main/index_2_inc.html' %} 
        <table id="device_stat" class="device_stat_default">
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        </table>
    </div>
    <div id="container_2">
    </div>
</body>
